{% extends 'base.html' %}
{% load staticfiles %}
 {% block content %}
                        
	<h1> Sobre Mi </h1>
	<p> ihaihoashfoiashf ihaihoashfoiashfihaihoashfoiashfihaihoashfoiashf ihaihoashfoiashf vihaihoashfoiashf ihaihoashfoiashfihaihoashfoiash ihaihoashfoiashf ihaihoashfoiashfihaihoashfoiashf ihaihoashfoiashf ihaihoashfoiashfihaihoashfoiashf ihaihoashfoiashf ihaihoashfoiashf ihaihoashfoiashf ihaihoashfoiashf ihaihoashfoiashf ihaihoashfoiashfihaihoashfoiashfihaihoashfoiashf ihaihoashfoiashf ihaihoashfoiashf ihaihoashfoiashf ihaihoashfoiashf </p>
	{% endblock %}